.project-card2 {
  background: #111f4d;
  height: 300px;
  transition: 0.6s all ease;
  margin-left: auto;
  margin-right: auto;
}

.project-cardBar {
  height: 2px;
  width: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 20px;
}

.project-detail-btn {
  border: 1px solid #FFCB21;
  border-radius: 5px;
  padding: 8px;
  margin-right: 5px;
}

.project-cardTop {
  transition: 0.4s all ease;
  height: 50%;
}

#project-cardTopImg1 {
  background: url(images/traseu.jpg) no-repeat;
  background-size: cover;
}

#project-cardTopImg2 {
  background: url(images/labellechaussure.jpg) no-repeat;
  background-size: cover;
}

#project-cardTopImg3 {
  background: url(images/matchmyfridge.jpg) no-repeat;
  background-size: cover;
}

.project-cardBottom {
  padding: 5px;
  text-wrap: normal;
  background-color: #111f4d;
  transition: 0.4s all ease;
}

.project-cardText {
  min-height: 100%;
  padding-top: 15px;
}

.project-cardTextTop {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #FFCB21;
  padding: 5px;
  font-size: 14px;
  color: #111f4d;
}

.project-cardText p {
  font-size: 14px;
}

.project-cardTitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.project-cardInfo {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: white;
}

a.project-cardTitle:hover {
  color: black;
}

/* Hidding the entire so anything we put in will only show on hover */

.project-cardHoverText {
  visibility: hidden;
}

/* Hover affects */

.project-card2:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Using className + hover followed by child element allows you to change child elements when parent is hovered */

.project-card2:hover .project-cardHoverText {
  visibility: visible;
  transition: 0.4s all ease;
  transition-delay: 0.2555s;
}

.project-card2:hover .project-cardBottom {
  transition: 0.4s all ease;
  height: 60%;
  opacity: 1;
}

.project-card2:hover .project-cardTop {
  height: 40%;
  opacity: 0.8;
  background-color: #000000;
  transition: 0.4s all ease;
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .projects-cards {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 991px) {
  .projects-cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
